<div class="row" style="margin-top: 25px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cook Book Recipes</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <label class="control-label col-md-1">Recipes</label>
                <div class="col-md-9">
                    <select class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <input type="button" class="btn btn-info" value="Create New Recipe" />
                </div>
            </div>
            <hr />
            <div>
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Ingredient</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="ingredientsList">
                            <tr>
                                <td>Bread</td>
                                <td><input type="checkbox" /> Checked</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>